body {
  --twitter-color: rgb(14, 151, 219);
  --text-color: white;
}
.sidebar__twittebutton {
  background-color: var(--twitter-color) !important;
  color: var(--text-color) !important;
  border-radius: 30px !important;
  width: 200px !important;
  margin-top: 20px !important;
}
.maincomponent {
  display: flex;
}
::-webkit-scrollbar {
  display: none;
}

.maincomponent .sidebar__compo {
  flex: 0.2;
}
.maincomponent .feed__compo {
  flex: 0.5;
}
.maincomponent .wid__compo {
  flex: 0.3;
}
/* @media screen and (min-width: 1200px) and (max-width: 1300px) {
  .maincomponent .feed__compo {
    flex: 0.6;
  }
  .maincomponent .wid__compo {
    flex: 0.2;
  }
} */
